*.aux
*.log
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.out
applications
math_papers
other_classes
/*/*/general_info
/freshman_year/*/hw_*
/freshman_year/*/*homework.*
/freshman_year/differential_equations/*quiz*
