*.aux
*.log
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.out
*.snm
*.nav
*.run.xml
*.vrb
*.bbl
*.bcf
*.blg
applications
math_papers
other_classes
/*/*/general_info
/freshman_year/*/hw_*
/freshman_year/*/*homework.*
/sophomore_year/*/hw_*
/sophomore_year/*/*homework.*
/freshman_year/algebraic_topology/master_homework.*
/*/*/*quiz*
/*/*/*exam*
/*/*/*final*
/*/*/*test*
/*/*/*pset*
